* {    box-sizing: border-box;
        padding: 0;
        margin: 0;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #1190d480;
}

.header{
    float: left;
    position: fixed;
    border-left: px solid #000;
}

header h1 {
    display: flex;
    contain:content;
    background-color: black;
    flex: wrap ;
    block-size: auto;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.images {
    max-width: 100%
    }

#twitter{
    width:100%;
    position:relative;
    right:-1500px;
}

#linkedin {}

#email{

    width:100%;
    position:relative;
    right:-1500px;
    background-color: brown;
}

.me {
    display: block;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    flex: auto;
}
.footer{
    font-size: 20px;
    color: rgb(63, 145, 70);
}


